<div>
    <table class="table">
        <tr>
            <td colspan="3">
                <h1>Твой календарь</h1>
            </td>
            <td>
                <h2 class="h2"><a (click)="ToUserMenu()">
                    {{ User?.Name }} {{ User?.Surname }}
                </a></h2>
            </td>
        </tr>
        <tr>
            <td rowspan="9" colspan="3">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" colspan="7" style="text-align: center;">
                                {{ Month?.monthName | bookingMonthName }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="Calendar">Пн</th>
                            <th class="Calendar">Вт</th>
                            <th class="Calendar">Ср</th>
                            <th class="Calendar">Чт</th>
                            <th class="Calendar">Пт</th>
                            <th class="Calendar">Сб</th>
                            <th class="Calendar">Вс</th>
                        </tr>
                        <tr *ngFor="let week of Month?.monthWeeks">
                            <td *ngFor="let day of week?.weekDays" class="Calendar">
                                <div *ngIf="day?.isOtherMonth">
                                    <button type="button"
                                        class="btn btn-outline-light Calendar">{{ day?.Day | bookingDay }}</button>
                                </div>
                                <div *ngIf="!day?.isOtherMonth">
                                    <button *ngIf="!day?.isBusy" type="button"
                                        class="btn btn-outline-secondary Calendar"
                                        (click)="CreateMeeting(day)">{{ day?.Day | bookingDay }}</button>
                                    <div *ngFor="let meeting of day?.Meetings">
                                        <div *ngIf="day?.isBusy && day?.Meetings != null">
                                            <button *ngIf="User?.Role?.Name=='Организатор' && day?.isCompleted" type="button" tooltip="{{meeting?.Name}}"
                                                class="btn btn-secondary Calendar"
                                                (click)="openModalInfo(OrganizerModal, day)">{{ day?.Day | bookingDay }}</button>
                                            <button *ngIf="User?.Role?.Name=='Организатор' && !day?.isCompleted" type="button" tooltip="{{meeting?.Name}}"
                                                class="btn btn-danger Calendar"
                                                (click)="openModalInfo(OrganizerModal, day)">{{ day?.Day | bookingDay }}</button>
                                            <ng-template #OrganizerModal>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">{{ SelectedMeeting?.Name }}</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 class="card-subtitle mb-2">Когда:</h6> 
                                                    <p class="card-text"> {{ SelectedMeeting?.StartDate | date:'short' }} - {{ SelectedMeeting?.EndDate | date:'short' }} </p>
                                                    <h6 class="card-subtitle mb-2">Где:</h6> 
                                                    <p class="card-text"> {{ SelectedMeetingAddress }} </p>
                                                    <h6 class="card-subtitle mb-2">Описание:</h6> 
                                                    <p class="card-text"> {{ SelectedMeeting?.Description }} </p>
                                                    <h6 class="card-subtitle mb-2">Ресурсы:</h6>
                                                    <p class="card-text" *ngFor="let resource of SelectedMeeting?.Resources">
                                                        {{ resource?.Name }}, 
                                                    </p>
                                                    <h6 class="card-subtitle mb-2">Организаторы:</h6>
                                                    <p class="card-text" *ngFor="let organizer of SelectedMeeting?.Organizers">
                                                        {{ organizer?.Surname }} {{ organizer?.Name }}, 
                                                    </p>
                                                    <h6 class="card-subtitle mb-2">Участники:</h6>
                                                    <p class="card-text" *ngFor="let participant of SelectedMeeting?.Participants">
                                                        {{ participant?.Surname }} {{ participant?.Name }}, 
                                                    </p>
                                                    <div class="btn-group-sm Calendar" *ngIf="!day?.isCompleted">
                                                        <button type="button" class="btn btn-primary" (click)="openModalEdit(EditModal)">Редактировать</button>
                                                        <button type="button" class="btn btn-danger" style="width: 112.56px" (click)="DeleteMeeting()">Удалить</button>
                                                        <ng-template #EditModal>
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title pull-left">Редактировать</h4>
                                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                                        (click)="modalRef.hide()">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form [formGroup]="EditingForm" (ngSubmit)="onSubmit()">
                                                                        <div class="form-group">
                                                                            <label>Название</label>
                                                                            <input type="text" class="form-control" formControlName="Name" [(ngModel)]="SelectedMeeting.Name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Описание</label>
                                                                            <input type="text" class="form-control" formControlName="Description" [(ngModel)]="SelectedMeeting.Description">
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <div class="col">
                                                                                <label>Дата начала</label>
                                                                                <input type="datetime-local" class="date" [(ngModel)]="SelectedMeeting.StartDate" formControlName="StartDate">
                                                                            </div>
                                                                            <div class="col">
                                                                                <label>Дата завершения</label>
                                                                                <input type="datetime-local" class="date" [(ngModel)]="SelectedMeeting.EndDate" formControlName="EndDate">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Свободные ресурсы</label>
                                                                            <ng-select [items]="Resources" [multiple]="true" bindLabel="Name" formControlName="Resources" [(ngModel)]="SelectedMeeting.Resources">
                                                                                <ng-template ng-option-tmp let-item="item">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <h5 class="card-title">{{ item?.Name }}</h5>
                                                                                            <h6 class="card-subtitle mb-2 text-muted">{{ item?.Address }}</h6>
                                                                                            <p class="card-text">{{ item?.StartWorking | date:'short' }} - {{ item?.EndWorking | date:'short' }}</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ng-select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Организаторы</label>
                                                                            <ng-select [items]="Organizers" [multiple]="true" bindLabel="Surname" formControlName="Organizers" [(ngModel)]="SelectedMeeting.Organizers">
                                                                                <ng-template ng-option-tmp let-item="item">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <h5 class="card-title">{{ item?.Surname }}</h5>
                                                                                            <h6 class="card-subtitle mb-2 text-muted">{{ item?.Name }} {{ item?.Patronymic }}</h6>
                                                                                            <p class="card-text">{{ item?.Post?.Name }}</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ng-select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Участники</label>
                                                                            <ng-select [items]="Participants" [multiple]="true" bindLabel="Surname" formControlName="Participants" [(ngModel)]="SelectedMeeting.Participants">
                                                                                <ng-template ng-option-tmp let-item="item">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <h5 class="card-title">{{ item?.Surname }}</h5>
                                                                                            <h6 class="card-subtitle mb-2 text-muted">{{ item?.Name }} {{ item?.Patronymic }}</h6>
                                                                                            <p class="card-text">{{ item?.Post?.Name }}</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ng-select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col">
                                                                                <button type="submit" class="btn btn-primary mb-2 meeting-left">Обновить</button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>                                                       
                                                            </ng-template>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <button *ngIf="User?.Role?.Name=='Участник' && !day?.isCompleted" type="button" tooltip="{{meeting?.Name}}"
                                                class="btn btn-success Calendar"
                                                (click)="openModalInfo(ParticipantModal, day)">{{ day?.Day | bookingDay }}</button>
                                            <button *ngIf="User?.Role?.Name=='Участник' && day?.isCompleted" type="button" tooltip="{{meeting?.Name}}"
                                                class="btn btn-secondary Calendar"
                                                (click)="openModalInfo(ParticipantModal, day)">{{ day?.Day | bookingDay }}</button>
                                            <ng-template #ParticipantModal>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">{{ SelectedMeeting?.Name }}</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 class="card-subtitle mb-2">Когда:</h6> 
                                                    <p class="card-text"> {{ SelectedMeeting?.StartDate | date:'short' }} - {{ SelectedMeeting?.EndDate | date:'short' }} </p>
                                                    <h6 class="card-subtitle mb-2">Где:</h6> 
                                                    <p class="card-text"> {{ SelectedMeetingAddress }} </p>
                                                    <h6 class="card-subtitle mb-2">Описание:</h6> 
                                                    <p class="card-text"> {{ SelectedMeeting?.Description }} </p>
                                                    <h6 class="card-subtitle mb-2">Ресурсы:</h6>
                                                    <p class="card-text" *ngFor="let resource of SelectedMeeting?.Resources">
                                                        {{ resource?.Name }}, 
                                                    </p>
                                                    <h6 class="card-subtitle mb-2">Организаторы:</h6>
                                                    <p class="card-text" *ngFor="let organizer of SelectedMeeting?.Organizers">
                                                        {{ organizer?.Surname }} {{ organizer?.Name }}, 
                                                    </p>
                                                    <h6 class="card-subtitle mb-2">Участники:</h6>
                                                    <p class="card-text" *ngFor="let participant of SelectedMeeting?.Participants">
                                                        {{ participant?.Surname }} {{ participant?.Name }}, 
                                                    </p>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h3 *ngIf="User?.Role.Name!='Организатор'">Ближайшие встречи</h3>
                <h3 *ngIf="User?.Role.Name=='Организатор'">Ближайшая встреча</h3>
            </td>
        </tr>
        <tr>
            <td *ngIf="User?.Role.Name!='Организатор'">
                <div class="card Card-margin" *ngFor="let ClosestMeeting of ClosestMeetings">
                    <div class="card-body">
                        <h5 class="card-title">{{ ClosestMeeting?.Name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ClosestMeeting?.StartDate | date:'short' }} -
                            {{ ClosestMeeting?.EndDate | date:'short' }}</h6>
                        <p class="card-text" *ngFor="let Organizer of ClosestMeeting?.Organizers">
                            {{ Organizer?.Surname }} {{ Organizer?.Name }} </p>
                    </div>
                </div>
            </td>
            <td *ngIf="User?.Role.Name=='Организатор'">
                <div class="card Card-margin">
                    <div class="card-body">
                        <h5 class="card-title">{{ ClosestMeetings[0]?.Name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ClosestMeetings[0]?.StartDate | date:'short' }} -
                            {{ ClosestMeetings[0]?.EndDate | date:'short' }}</h6>
                        <p class="card-text" *ngFor="let Organizer of ClosestMeetings[0]?.Organizers">
                            {{ Organizer?.Surname }} {{ Organizer?.Name }} </p>
                    </div>
                </div>
            </td>
        </tr>
        <tr *ngIf="User?.Role.Name=='Организатор'">
            <td>
                <h3>Ваша встреча</h3>
            </td>
        </tr>
        <tr *ngIf="User?.Role.Name=='Организатор'">
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ OrganizersClosestMeeting?.Name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ OrganizersClosestMeeting?.StartDate | date:'short' }} -
                            {{ OrganizersClosestMeeting?.EndDate | date:'short' }}</h6>
                        <p class="card-text" *ngFor="let Organizer of OrganizersClosestMeeting?.Organizers">
                            {{ Organizer?.Surname }} {{ Organizer?.Name }} </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>