td.Calendar {
    text-align: center;
    vertical-align: middle;
}

th.Calendar {
    text-align: center;
    vertical-align: middle;
}

button.Calendar {
    width: 50px;
    height: 50px;
}

div.Calendar {
    margin: 0 25% 0 25%;
    width: 50%;
}

div.Card-margin {
    margin: 0 0 15px 0;
}