tr.meeting {
    text-align: center;
}

h2.meeting {
    padding-top: 10px;
    text-align: center;
}

div.meeting {
    padding-left: 33%;
    padding-right: 33%;
}

table.meeting {
    position: absolute; 
    top: 50%; 
    width: 100%; 
    transform: translate(0, -50%);
}

button.meeting-left {
    left: 0;
}

button.meeting-right {
    right: 0;
}