<div class="meeting">
    <table>
        <tr>
            <td>
                <form [formGroup]="MeetingForm" (ngSubmit)="onSubmit()">
                    <h2 class="h2 meeting">Добавить встречу</h2>
                    <div class="form-group">
                        <h4 for="Name">Название встречи</h4>
                        <input type="text" class="form-control" id="Name" formControlName="Name" required />
                    </div>
                    <div class="form-group">
                        <h4 for="Name">Описание</h4>
                        <input type="text" class="form-control" id="Description" formControlName="Description"
                            required />
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <h4 class="h4">Дата начала</h4>
                            <input type="datetime-local" id="StartDate" class="date" [(ngModel)]="StartDate"
                                formControlName="StartDate" required>
                        </div>
                        <div class="col">
                            <h4 class="h4">Дата завершения</h4>
                            <input type="datetime-local" id="EndDate" class="date" [(ngModel)]="EndDate"
                                formControlName="EndDate" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="h4">Свободные ресурсы</h4>
                        <ng-select [items]="Resources" [multiple]="true" bindLabel="Name" formControlName="Resources"
                            required>
                            <ng-template ng-option-tmp let-item="item">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item?.Name }}</h5>
                                        <p class="card-text">{{ item?.Address }}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <h4 class="h4">Добавить организатора</h4>
                        <ng-select [items]="AllOrganizers" [multiple]="true" bindLabel="Surname"
                            formControlName="Organizers" [(ngModel)]="CurrentUser" required>
                            <ng-template ng-option-tmp let-item="item">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item?.Surname }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ item?.Name }}
                                            {{ item?.Patronymic }}</h6>
                                        <p class="card-text">{{ item?.Post?.Name }}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <h4 class="h4">Добавить участников</h4>
                        <ng-select [items]="AllParticipants" [multiple]="true" bindLabel="Surname"
                            formControlName="Participants" required>
                            <ng-template ng-option-tmp let-item="item">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item?.Surname }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ item?.Name }}
                                            {{ item?.Patronymic }}</h6>
                                        <p class="card-text">{{ item?.Post?.Name }}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success mb-2">Добавить</button>
                        <button type="button" (click)="ToCalendar()"
                            class="btn btn-primary mb-2">Календарь</button>
                        <button type="button" class="btn btn-danger mb-2">Контакты</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

</div>