table.home {
    margin: 0 auto;
    border-collapse: collapse;
}

td.home {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}

tr.home {
    text-align: center;
}

div.home {
    position: absolute; 
    top: 50%; 
    width: 100%; 
    transform: translate(0, -50%);
}