<div class="home">
    <table class="home">
        <tr class="home">
            <h1 class="h1">Добро пожаловать!</h1>
        </tr>
        <tr>
            <td>
                <form [formGroup]="AuthenForm" (ngSubmit)="onSubmit()" class="form-group">
                <table class="home">
                    <tr>
                        <td>Логин:</td>
                        <td><input class="form-control" type="text" formControlName="Login" required /></td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input class="form-control" type="password" formControlName="Password" required /></td>
                    </tr>
                    <tr class="home">
                        <td colspan="2"><button class="btn btn-outline-primary" type="submit" [disabled]="!AuthenForm.valid">Войти</button></td>
                    </tr>
                    <tr class="home"><td colspan="2">
                        <p >или <a href="/registration">зарегистрироваться</a></p>
                    </td></tr>
                </table>
            </form>
            </td>
        </tr>
        <tr><td>
            <p *ngIf="isUserNotExist">{{ Error }}</p>
        </td></tr>
    </table>
</div>