<div>
    <table class="table">
        <tr class="registration"><td><h2 class="h2">Регистрация</h2></td></tr>
        <tr><td>
            <form [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()" >
                <table class="registration">
                    <tr>
                        <td>Логин:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Login" required /></td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Password" required /></td>
                    </tr>
                    <tr>
                        <td>Фамилия:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Surname" required /></td>
                    </tr>
                    <tr>
                        <td>Имя:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Name" required /></td>
                    </tr>
                    <tr>
                        <td>Отчество:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Patronymic" required /></td>
                    </tr>
                    <tr>
                        <td>Должность:</td>
                        <td>
                            <ng-select [items]="Posts" bindLabel="Name" formControlName="Post" required>
                                <ng-template ng-option-tmp let-item="item">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">{{ item?.Name }}</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Phone" required /></td>
                    </tr>
                    <tr>
                        <td>Почта:</td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="Mail" required /></td>
                    </tr>
                    <tr>
                        <td>Дата рождения:</td>
                        <td><input type="date" class="form-control form-control-sm" formControlName="Birthday" required /></td>
                    </tr>
                    <tr class="registration">
                        <td colspan="2"><button type="submit" class="btn btn-primary mb-2" [disabled]="!RegistrationForm.valid">Зарегистрироваться</button>
                    </tr>
                </table>
            </form>
        </td></tr>
        <tr class="registration">
            <td><a href="/">На главную</a></td> 
        </tr>
    </table>
</div>