table.registration {
    margin: 0 auto;
    border-collapse: collapse;
}

td.registration {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}

tr.registration {
    text-align: center;
}