table.resource {
    margin: 0 auto;
}

td.resource {
    text-align: center;
}

tr.resource {
    text-align: center;
}

h2.resource {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

div.resource {
    text-align: center;
    vertical-align: auto;
}