<div>
    <table class="table">
        <tr class="resource">
            <td colspan="4">
                <h2 class="h2">Ресурсы</h2>
            </td>
        </tr>
        <tr class="resource">
            <td class="resource">
                <button type="button" class="btn btn-primary" (click)="ToUserMenu()">Личный кабинет</button>
            </td>
            <td class="resource">
                <button type="button" class="btn btn-primary" (click)="openModalInfo(ResourcesCalendarModal)">Календарь занятости</button>
                <ng-template #ResourcesCalendarModal>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Занятость ресурсов</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>ToDo</label>
                        </div>
                    </ng-template>
            </td>
            <td class="resource">
                <button type="button" class="btn btn-primary" (click)="openModalInfo(AddNewResourceModal)">Добавить новый ресурс</button>
                <ng-template #AddNewResourceModal>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Создание ресурса</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="AddResourceForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label>Название</label>
                                    <input type="text" class="form-control" formControlName="Name" required>
                                </div>
                                <div class="form-group">
                                    <label>Тип ресурса</label>
                                    <ng-select [items]="AllTypesOfResources" bindLabel="Name" formControlName="TypeOfResource" required></ng-select>
                                </div>
                                <div class="form-group">
                                    <label>Адрес</label>
                                    <input type="text" class="form-control" formControlName="Address" required>
                                </div>
                                <div class="form-group">
                                    <label>Вместимость</label>
                                    <input type="number" class="form-control" formControlName="Capacity" required>
                                </div>
                                <div class="form-group resource">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Добавить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
            </td>
            <td class="resource">
                <button type="button" class="btn btn-primary" (click)="openModalInfo(AddNewTypeOfResourceModal)">Добавить новый тип ресурса</button>
                <ng-template #AddNewTypeOfResourceModal>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Создание типа ресурса</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="AddTypeOfResourceForm" (ngSubmit)="onTypeSubmit()">
                            <div class="form-group">
                                <label>Название</label>
                                <input type="text" class="form-control" formControlName="Name" required>
                            </div>
                            <div class="form-group resource">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </td>
        </tr>
        <tr class="thead-light resource">
            <th>Название</th>
            <th>Тип</th>
            <th>Вместимость</th>
            <th></th>
        </tr>
        <tr class="resource" *ngFor="let Resource of Resources">
            <td>{{ Resource?.Name }}</td>
            <td>{{ Resource?.TypeOfResource?.Name }}</td>
            <td>{{ Resource?.Capacity }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm" (click)="openModalInfo(UpdateResourceModal)">Обновить</button>
                    <ng-template #UpdateResourceModal>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Обновить ресурс</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="AddResourceForm" (ngSubmit)="onUpdateSubmit(Resource.ID)">
                                <div class="form-group">
                                    <label>Название</label>
                                    <input type="text" class="form-control" formControlName="Name" [(ngModel)]="Resource.Name" required>
                                </div>
                                <div class="form-group">
                                    <label>Тип ресурса</label>
                                    <ng-select [items]="AllTypesOfResources" bindLabel="Name" formControlName="TypeOfResource" [(ngModel)]="Resource.TypeOfResource.Name" required></ng-select>
                                </div>
                                <div class="form-group">
                                    <label>Адрес</label>
                                    <input type="text" class="form-control" formControlName="Address" [(ngModel)]="Resource.Address" required>
                                </div>
                                <div class="form-group">
                                    <label>Вместимость</label>
                                    <input type="number" class="form-control" formControlName="Capacity" [(ngModel)]="Resource.Capacity" required>
                                </div>
                                <div class="form-group resource">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Обновить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                    <button type="button" class="btn btn-danger btn-sm" (click)="DeleteResource(Resource?.ID)">Удалить</button>
                </div>
            </td>
        </tr>
    </table>
</div>
