<div class="User">
    <table class="table">
        <tr>
            <td>
                <h2 class="h2">Личный кабинет</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h5 class="h5">ФИО</h5>
                <label class="label">{{CurrentUser?.Surname}} {{CurrentUser?.Name}} {{CurrentUser?.Patronymic}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <h5 class="h5">Должность</h5>
                <label class="label">{{CurrentUser?.Post.Name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <h5 class="h5">Текущий статус</h5>
                <label class="label">{{CurrentUser?.Role.Name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <h5 class="h5">Связь</h5>
                <label class="label">Телефон: {{CurrentUser?.Phone}}</label><br>
                <label class="label">Почта: {{CurrentUser?.Mail}}</label><br>
            </td>
        </tr>
        <tr>
            <td class="User">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" (click)="ToCalendar()">Календарь</button>
                    <button *ngIf="CurrentUser?.Role.Name=='Организатор'" type="button"
                        (click)="ToContacts()" class="btn btn-primary">Контакты</button>
                    <button *ngIf="CurrentUser?.Role.Name=='Организатор'" type="button"
                        (click)="ToResources()" class="btn btn-primary">Ресурсы</button>
                </div>
            </td>
        </tr>
    </table>
</div>